
/*==============================================================================================================

	__________                            _________                        _________ __          _____  _____ 
	\______   \____    ______ ____       /   _____/____    ______ ______  /   _____//  |_ __ ___/ ____\/ ____\
	 |    |  _|__  \  /  ___// __ \      \_____  \\__  \  /  ___//  ___/  \_____  \\   __\  |  \   __\\   __\ 
	 |    |   \/ __ \_\___ \\  ___/      /        \/ __ \_\___ \ \___ \   /        \|  | |  |  /|  |   |  |   
	 |______  (____  /____  >\___  > /\ /_______  (____  /____  >____  > /_______  /|__| |____/ |__|   |__|   
			\/     \/     \/     \/  )/         \/     \/     \/     \/          \/                           


	Base sass styles: opinionated defaults


=================================================================================================================


 /*
 * Import Sass add-ons
 */

@import "compass";
@import "normalize";
@import "animation";
@import "keyframes";

body {
	
}

.scroll, .scroll-view {
	height: 100%;
}

.stacker {
	height: 100%;
}

.moo {
	
	width: 150px;
	height: 250px;
	position: absolute;
	margin: 0 1px 1px 0;
	background: gold;
}


